{:kotoba.app/id "cloud.itonami.isic-8550", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihptf4wx3di5prwbhwgawpdkqf5sizyi5hrlcc4bt24ahfnrjapfu", :kotoba.app/embed-url "ipfs://bafkreihptf4wx3di5prwbhwgawpdkqf5sizyi5hrlcc4bt24ahfnrjapfu", :published {:archive "https://kotobase.net/ipfs/bafkreihptf4wx3di5prwbhwgawpdkqf5sizyi5hrlcc4bt24ahfnrjapfu", :size 76150, :put-status 201, :get-status 200, :at "2026-08-15T13:39:22.173Z"}}
